html, body {
  width: 600px;
  background-color: #29a270;
  font-family: 'Montserrat';
}

#developed, #information{
	color:white;
	text-align: center;
	padding-top: 10px;
	font-size: 15px;
}

#names{
	font-weight: bolder;
	font-size: 25px;
	color:white;
}
