html, body {
  width: 600px;
  background-color: #29a270;
}

a{
	margin: 0% auto;
	padding-right: 3px;
	padding-left: 3px;
  	text-align: left;
  	cursor: pointer;
  	display: block;
  	color:#38b481;
  	border-top: 1px solid #eee;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
}

#title{
	text-align: center;
	color:white;
}


#links{
	background-color: white;
}


#icon{
	margin:auto 0px;
	border-radius: 10px;
	width: 140px;
	height: 100px;
	box-shadow: 1px 1px 5px #5c5c5c;
}
